body {
    background-color: #f2f9ff;
    font-family: "Microsoft JhengHei", sans-serif;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #2c3e50;
}

p {
    color: #333;
    font-size: 18px;
    line-height: 1.6;
}
